venv/
**/__pycache__/
*.py[cod]


# admin
temp_options.py

# private.json 是在建立時自動產生
system/private.json

# config.txt 是在建立時自動產生
bat/config.txt

# ISPC.lnk 是在建立時自動產生
ISPC.lnk

# tempstorage/ 是暫存於本地的工作區
tempstorage/*.py
